<!doctype html>
<html class="no-js" lang="{{ page.seoLang }}">

    <head>
        {% include "includes/head.twig" %}
        {% include basekit.headScript %}
    </head>

    <body class="{{ page.backgroundClass }} {% block class %}{% endblock %}" {{ isV10sSite ? 'id="migrated-site"' : '' }}>

        <!-- Container -->
        <div class="site-container">

            <!-- Page Content -->
            <section class="inner-container">

                <!-- Header Include -->
                {% include "includes/header.twig" %}

                <!-- Main Widget Zone -->
                {% block content %}
                {% endblock %}
            </section>

            <!-- Footer Include -->
            {% include "includes/footer.twig" %}

        </div>


        {% include basekit.bodyScript %}


        <!-- Nav Menu Script -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>


        <script nonce="{{ numberUsedOnce }}">
            // Toggles class open to display/hide the whole navigation
            $(document).on("click", ".navigation-toggle", function() {
                $( "body" ).toggleClass( "open" );
            });

            // Toggles class open to display/hide folders
            $( ".navigation-item.folder" ).each(function() {
                $( this ).click(function() {
                    $( this ).toggleClass( "open" );
                });
            });
        </script>
    </body>
</html>
