
// --------------------------------------
//  Migration - Section Colour Contrast
// --------------------------------------





//  Heading Colour
// ------------------------------


// Heading Colour Application
h1, .heading--1,
h2, .heading--2,
h3, .heading--3,
.legend:not(.signupform__legend):not(.contactform__legend):not(.advancedcontactform__legend),
.blog-post-title a,
.blogpostlist__title-link,
.blogpost__post-title,
.ecom-productslist-title,
.ecomproductslist__title-link,
.featuredproducts-header,
.ecom-featuredproducts-title,
.ecomfeaturedproducts__listing-title {
    .color__text--contrast();  // Fallback if heading colour isn't set
}


h4, .heading--4,
h5, .heading--5,
.label:not(.clicktocall__label):not(.signupform__label):not(.contactform__label):not(.advancedcontactform__label),
time {
    .color__text--contrast();  // Fallback if heading colour isn't set
}


[data-name*="content"], {
    h1, h2, h3, h4, h5 {
        .color__text--contrast();
    }
}


.ecomcategorieslist__category-list-body h3,
.listing-title,
.ecomproductslist__title-link,
.ecomfeaturedproducts__title-link,
.ecombasketsummary__summary-title {
    .color__text--contrast();
}




//  Body Font Colour
// -------------------


// Body Colour Application
p, .paragraph,
li,
blockquote,
td,
.phone-number-link,
.clicktocall__label,
.clicktocall a,
h6, .heading--6,
[data-name="content"],
a:not(.tweet-metadata a),
.dropbox__label,
.bk-full-name,
.ecomproduct__product-body,
.productlist-filter label,
.productlist-item-count,
.blogpost__post-body,
.ecomproductslist__product-item-price {
    .color__text--contrast--lighter();
}


// Content Widgets - Body
[data-name*="content"] {
    p, li, a, blockquote, h6 {
        .color__text--contrast--lighter();
    }
}






//  Content Link Colour
// ---------------------------------


// Content Link Colour Application
[data-name="content"] a {
    .color__text--contrast();
}


.contact-icon {
    .color__text--contrast();
}





//  Button Colours
// ---------------------------------


[data-name="button"] .button,
[data-name="contentgroup"] .link,
[data-name="dropbox"] .button,
[data-name="paypalbuynow"] .button,
[data-name="tweet"] .button,
[data-name="filedownload"] .button,
[data-name="ecombasketsummary"] .button,
[data-name="blogpostlist"] .blogpostlist__read-more {

    .row--style-light & {
        background-color: @color--dark;
        color: contrast(@color--dark, @color--accent, @color--light);
    }

    .row--style-accent & {
        background-color: @color--dark;
        color: contrast(@color--dark, @color--accent, @color--light);
    }
    
    .row--style-dark & {
        background-color: @color--accent;
        color: contrast(@color--accent, @color--dark, @color--light);
    }


    &:hover {

        .row--style-light & {
            background-color: @color--accent;
            color: contrast(@color--accent, @color--dark, @color--light);
        }

        .row--style-accent & {
            background-color: lighten(@color--dark, 20%);
            color: contrast(@color--dark, @color--accent, @color--light);
        }
        
        .row--style-dark & {
            background-color: @color--light;
            color: contrast(@color--light, @color--dark, @color--light);
        }
    }
}





//  Other Colours
// ---------------------------------


td,
.phone-number-link,
.clicktocall__label,
.dropbox__label,
.ecomproductslist__product-item-price,
.ecomproductslist__listing-order,
.pagination-item:not(.current) .button--pagination:not(:hover),
.ecomfeaturedproducts__product-item-price,
.blogpostlist__title-link,
.blogpost__post-title,
.blogpost__post-body *,
.blogpostlist__post-excerpt *,
.blogpostlist__timestamp,
.blogpost__timestamp,
.blogpost__category-title,
.blogpost__tags-title,
.ecombasketsummary__message p {
    .color__text--contrast--lighter();
}

.phone-number-link {
    @media @mobile {
        background: transparent;
    }
}




//  Light Colour
// ---------------------------------------


.style--light {


    // Social icons
    [data-name="socialicons"] .social-item:not(:hover) {
        background: fade(@color--dark, 80%);
        color: contrast(@color--dark, @color--accent, @color--light);
    }


    // Social Icon Widget - Icon Colour
    [data-name="socialicons"] .social-item:not(:hover) .social-link,
    [data-name="socialicons"] .social-item:not(:hover) .social-link:before {
        color: contrast(@color--dark, @color--accent, @color--light);
    }


    .post-footer {
        border-color: fade(contrast(@color--light, @color--dark, @color--accent), 15%);
    }
}





//  Accent Colour
// ---------------------------------------


.style--accent {


    // Social icons
    [data-name="socialicons"] .social-item:not(:hover) {
        background: fade(@color--dark, 90%);
        color: contrast(@color--dark, @color--accent, @color--light);
    }


    // Social Icon Widget - Icon Colour
    [data-name="socialicons"] .social-item:not(:hover) .social-link,
    [data-name="socialicons"] .social-item:not(:hover) .social-link:before {
        color: contrast(@color--dark, @color--accent, @color--light);
    }


    .post-footer {
        border-color: fade(contrast(@color--accent, @color--dark, @color--light), 15%);
    }
}




//  Dark Colour
// ---------------------------------------


.style--dark {


    // Social icons
    [data-name="socialicons"] .social-item:not(:hover) {
        background: fade(@color--light, 90%);
        color: contrast(@color--light, @color--dark, @color--accent);
    }


    // Social Icon Widget - Icon Colour
    [data-name="socialicons"] .social-item:not(:hover) .social-link,
    [data-name="socialicons"] .social-item:not(:hover) .social-link:before {
        color: contrast(@color--light, @color--dark, @color--light);
    }


    .post-footer {
        border-color: fade(contrast(@color--dark, @color--accent, @color--light), 15%);
    }
}
